<!DOCTYPE html>
<html>
<head>
	<base href="{{env.baseUrl}}">
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/github.css">
	<link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
{{> navbar}}
<div class="container">