{{> header}}
<div class="row">
  <section class="col-lg-8">
  {{#each collections.posts}}
  <article>
    <h2><a href="{{this.path}}">{{this.title}}</a></h2>
    <p class="small">
      Posted on: <time>{{#moment format="DD.MM.YYYY"}}{{this.date}}{{/moment}}</time>
    </p>
    {{{this.contents}}}
  </article>
  {{/each}}
  </section>
  <aside class="col-lg-4">
    <div class="well">
      <p>Some about stuff right here or something of that nature</p>
    </div>
  </aside>
</div>
{{> footer}}