@import 'github';

html, body {
  background: url(/media/bokeh-bg.png) no-repeat center center;
  background-size: cover;
}

#page {
  position: relative;
  margin: 0 auto;
  max-width: 1170px;
  background: none;
}

#secondary {
  color: #ddd;
  padding: 0;
  background: #222;

  nav {
    display: none;
    @media (min-width: 1200px) {
      display: block;
    }
  }

  header {
    border-bottom: 1px solid #000;
    text-align: center;
  }

  header ~ * {
    border-bottom: 1px solid #000;
    border-top: 1px solid #333;
  }
}


.masthead .site-title {
  margin: 0;
  padding: 15px 0;
}

#primary {
  background: #fff;
  padding: 0;
}

.post {
  padding: 50px;
  border-bottom: 1px solid #ddd;
}

@media (min-width: 1200px) {
  #page {
    background: #fff;
  }
  #page:before {
    content: "";
    background: #222;
    display: block;
    height: 100%;
    position: absolute;
    width: 25%;
  }

  #secondary nav {
    display: block;
  }
}