@import 'github';

@import 'colors';

@import 'components/header';
@import 'components/page';
@import 'components/secondary';

html, body {
  background: url(/media/bokeh-bg.png) no-repeat center center;
  background-size: cover;
}

.masthead .site-title {
  margin: 0;
  padding: 15px 0;
}

#primary {
  background: #fff;
  padding: 0;
}

.post {
  padding: 50px;
  border-bottom: 1px solid #ddd;
}

@media (min-width: 1200px) {
  .secondary nav {
    display: block;
  }
}